<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Tarefa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleAddTarefa.css') }}">
</head>
<body>
    <div class="container">
        <h1>Adicionar Nova Tarefa</h1>
        <form action="/add_tarefa" method="POST" enctype="multipart/form-data">
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" required>
            
            <label for="descricao">Descrição:</label>
            <textarea id="descricao" name="descricao" required></textarea>

            <label for="imagem">Imagem da Tarefa:</label>
            <input type="file" name="imagem" id="imagem" accept="image/*" required>
            
            <button type="submit">Adicionar</button>
        </form>
        <br>
        <a href="/">Voltar para a Página Inicial</a>
    </div>
</body>
</html>