<!-- tarefas.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleTarefa.css') }}">
</head>
<body>

    <nav>
        <a href="/">
            <img src="{{ url_for('static', filename='img/logo_tarefa.webp') }}" alt="Logo">
        </a>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/tarefas">Tarefas</a></li>
            <li><a href="/add_tarefa_form">Adicionar Tarefa</a></li>
            <li><a href="/del_tarefa">Deletar Tarefa</a></li>
            <li><a href="/edit_tarefa">Editar Tarefa</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Tarefas</h1>
        
        {% if not tarefas %}
            <p>Você não tem tarefas cadastradas.</p>
        {% endif %}
        
        <ul class="task-list">
            {% for tarefa in tarefas %}
                <li class="task-item">
                    <span><strong>{{ tarefa['Titulo'] }}</strong>: {{ tarefa['Descrição'] }}</span>
                    {% if tarefa['Imagem'] %}
                        <img src="{{ url_for('static', filename=tarefa['Imagem'].replace('static/', '')) }}" alt="Imagem da Tarefa" class="task-image"> 
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <a href="/add_tarefa_form" class="add-task-btn">Adicionar nova Tarefa</a>
    </div>
</body>
</html>